{% extends 'base.html' %}
{% load static %}
{% load myfilter %}
{% block head %}
    <title>{{ article.title }}</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
{% endblock %}
{% block content %}
    <div class="news_bg_img">
        <div class="container flex-column">
            <h3 class="text-left" style="margin-top:150px;">新闻资讯</h3>
            <h5 class="text-left">NEW AND INFORMATION</h5>
        </div>
    </div>
    <div class="container">
        <ol class="breadcrumb" style="background-color: #145045;">
            <li><a class="text-white" href="{% url 'index' %}">首页</a></li>
            <li><a class="text-white" href="{% url 'index' %}">新闻</a></li>
            <li class="text-white">{{ article.title }}</li>
        </ol>
        <div class="pd-v-def">
            {% if article.isMarkdown %}
                {{ article.content | custom_markdown }}
            {% else %}
                {% autoescape off %}
                    {{ article.content }}
                {% endautoescape %}
            {% endif %}
        </div>
    </div>

{% endblock %}