{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>首页</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
{% endblock %}
{% block content %}
    <!-- Fixed navbar -->
    <div id="navbar-main">
        <div class="navbar navbar-default navbar-fixed-top">
            <div style="background-color:#fff;">
                <div class="container flex-row" style="align-items: center;">
                    <img class="top_logo" src="{% static 'img/logo.png' %}">
                    <h5 class="text-main flex-item text-right">茁壮未来，保护宝宝健康成长.</h5>
                </div>
            </div>
            <div style="background-color: rgba(0,0,0,0.8);">
                <div class="container top_main_nav_warp" >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav center-block">
                            <li class="active"><a href="#home" class="smoothscroll">首页<br><span
                                    class="text-sm">HOME</span></a></li>
                            <li><a href="#about" class="smoothscroll">关于我们<br><span class="text-sm">ABOUT US</span></a>
                            </li>
                            <li><a href="#brand" class="smoothscroll">品牌优势<br><span class="text-sm">BRAND</span></a>
                            </li>
                            <li><a href="#project" class="smoothscroll">项目介绍<br><span class="text-sm">PROJECT</span></a>
                            </li>
                            <li><a href="#store" class="smoothscroll">店面展示<br><span class="text-sm">STOREDISPLAY</span></a>
                            </li>
                            <li><a href="#partner" class="smoothscroll">加盟合作<br><span
                                    class="text-sm">COOMPARATION</span></a></li>
                            <li><a href="#news" class="smoothscroll">新闻资讯<br><span class="text-sm">NEWLIST</span></a>
                            </li>
                            <li><a href="#contact" class="smoothscroll">联系我们<br><span class="text-sm">CONCACT</span></a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>
    <section id="home" name="home" class="scrollspy"></section>
    <div id="headerwrap">
        <div class="swiper-container2">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{% static 'img/header_bg.png' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/header_bg2.jpg' %}"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <section id="about" name="about" class="scrollspy"></section>
    <div class="container pd-v-xlg">
        <div class="col-sm-12">
            <div class="flex-row">
                <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
                <div class="marg-l-def">
                    <div class="text-h5">关于我们</div>
                    <span>ABOUT US</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <p class="marg-t-md">
                茁壮蔚来儿童健康管理机构隶属蔚来恒康（北京）母婴健康科技有限公司旗下，茁壮蔚来儿童健康管理中心是一家儿童健康综合机构，随着国家二胎政策的放宽，随着小儿推拿品牌的不断诞生。</p>
            <p class="marg-t-md">
                新一代家庭对于宝宝非常重视，但是对于很多新手宝爸宝妈相对而言，他们更关心宝宝的健康成长，随着国家提倡“让宝宝远离抗生素”，80.90后新一代妈妈更会选择安全、健康、有效的方式。</p>
            <p class="marg-t-md">
                茁壮蔚来经过近8年的市场调查和研究，5年加盟连锁品牌的成熟运作经验，为了更全面的服务母婴健康，蔚来恒康（北京）母婴健康科技有限公司创立茁壮蔚来儿童健康管理中心。</p>
        </div>
        <div class="col-sm-6">
            <video style="flex:1; width:100%;height:auto;" controls="controls" src="https://vdse.bdstatic.com//4f49b1420db8bf2dd7a519b6e45cb513.mp4?authorization=bce-auth-v1%2F40f207e648424f47b2e3dfbb1014b1a5%2F2020-08-01T18%3A26%3A08Z%2F-1%2Fhost%2F9d88d42352b10618f3e9e1193f234412e0fc347fd503a1612c58c9cd2e909008">
                您的浏览器不支持 video
            </video>
        </div>
    </div>
    <section id="brand" name="brand" class="scrollspy"></section>
    <div class="container pd-v-xlg">
        <div class="flex-row">
            <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
            <div class="marg-l-def">
                <div class="text-h5">品牌优势</div>
                <span>BRAND US</span>
            </div>
        </div>
        <div style="height: 30px;"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/1.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">01</h1>
                        <h5>完善的培训体系</h5>
                        <p class="gallery_desc_text">专业培训，为调理师提供标准的系统培训</p>
                        <p class="gallery_desc_text">专业培训，为调理师提供标准的系统培训,茁壮未来儿童健康管理机构隶属蔚来恒康（北京）母婴健康科技有限公司旗下</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/2.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">02</h1>
                        <h5>高效的运营方案</h5>
                        <p class="gallery_desc_text">总部提供成熟的市场合作方案及物料支持，定期更新活动方案</p>
                        <p class="gallery_desc_text">与多家国际知名早教,婴儿游泳,幼儿回等达成独家战略合作。</p>
                        <p class="gallery_desc_text">有效获取线下新用户，保证店面持续客流进店。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/3.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">03</h1>
                        <h5>金色保护伞</h5>
                        <p class="gallery_desc_text">总部为了保证合作店面良性运营，给予所有合作伙伴金色保护伞三免扶持。</p>
                        <p class="gallery_desc_text">免费扶持，免费宣传，免费物品，全力帮助合作伙伴经营店面。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/4.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">04</h1>
                        <h5>强大的供应链</h5>
                        <p class="gallery_desc_text">进口婴幼儿洗护系列品，德国一线洗护品牌哈罗闪，施巴等满足不同阶段婴幼儿需求</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/5.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">05</h1>
                        <h5>选址及装修支持</h5>
                        <p class="gallery_desc_text">选址支持：独有的选址打分，专业的选址团队帮您科学选址</p>
                        <p class="gallery_desc_text">VI 支  持：知名室内设计团队打造全套VI设计体系</p>
                        <p class="gallery_desc_text">物品支持：专业的实操团队帮您打造风格化店面，持续性提供宣传品设计</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/6.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">06</h1>
                        <h5>盐风呼吸理念</h5>
                        <p class="gallery_desc_text">又称干盐气溶胶疗法，是在人造盐屋中模仿盐矿内微气候条件的现代养护方式，起源于欧洲的德国、波兰地区</p>
                        <p class="gallery_desc_text">在欧美被广泛用于清洁、保护、和修复人体呼吸系统。盐雾疗法是目前有科学依据能够清除肺部、沉积物的方式。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/7.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">07</h1>
                        <h5>一步步的指导</h5>
                        <p class="gallery_desc_text">1选址-2设计装修-3管理者商学院-4调理师培训-5模板化运营方案-6持续的调理师考核-7持续的运营团队支持</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/youshi/8.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h1 class="text-xh1">08</h1>
                        <h5>强大的团队</h5>
                        <p class="gallery_desc_text">无论从最初房屋的选址还是到开店后的整体运营以及学员的培训，公司在各个环节均有专家级人员扶持，让您真正做到开店全程无忧。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="project" name="project" class="scrollspy"></section>
    <div class="container pd-v-xlg">
        <div class="flex-row">
            <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
            <div class="marg-l-def">
                <div class="text-h5">项目介绍</div>
                <span>BRAND US</span>
            </div>
        </div>
        <div style="height: 30px;"></div>
        <div class="col-md-6 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/2.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h5 class="text-left">小儿积食调料</h5>
                        <p class="gallery_desc_text">
                            积食常见于婴幼儿，可引起宝宝腹部胀满、大便干燥酸臭、口臭、厌食、手脚心热、睡眠不安、发烧伴有呕吐等症状。“要想小儿安，三分饥与寒”生活条件越来越好，宝宝很多小毛病都是吃出来的。可以用“消食导滞、健脾和胃”的推拿手法给宝宝调理。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/2.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h5 class="text-left">小儿便秘调理</h5>
                        <p class="gallery_desc_text">
                            现在，更多宝妈关注宝宝“拉得怎么样”，而不是“吃得怎么样”。便秘的宝宝排便困难、粪便干结，非常难受。长期便秘还会影响宝宝的消化吸收功能，不长高，不长肉。这时，可以用“助运化、理肠道”的手法帮助宝宝排便。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/2.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h5 class="text-left">小儿咳嗽调理</h5>
                        <p class="gallery_desc_text">
                            “肺为娇脏，寒热皆所不宜”，肺部容易受邪，而且又不耐寒热、恶燥恶湿。也因此，咳嗽已经成为小朋友最常见的症状之一，如果咳嗽由急性转为慢性，会导致胸闷、咽痒、喘气等症状，非常难受。可以用“宽胸理气、止咳化痰”的推拿手法帮助宝宝恢复。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
            <div class="gallery-item">
                <div class="gallery-thumb">
                    <img src="{% static 'img/2.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                    <div class="image-overlay"></div>
                    <div class="gallery-text-wrap">
                        <h5 class="text-left">小儿感冒调理</h5>
                        <p class="gallery_desc_text">
                            感冒是少儿时期最常见的外感疾病，以换季时多见。一般情况下症状不会很严重，但是鼻塞、头疼会让宝宝非常难受。而且感冒分为风寒、风热、暑邪、流行性感冒等种类，家长不好分辨。针对不同症状，要采用不同的治则来调理哦！</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section id="store" name="store" class="scrollspy"></section>
    <div class="container pd-v-xlg">
        <div class="flex-row">
            <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
            <div class="marg-l-def">
                <div class="text-h5">店面展示</div>
                <span>STORE DISPLAY</span>
            </div>
        </div>
    </div>
    <div class="pd-v-xlg bg-light-gray">
        <div class="container" style="position: relative;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{% static 'img/store/store.png' %}"></div>
                    <div class="swiper-slide"><img src="{% static 'img/store/store1.png' %}"></div>
                    <div class="swiper-slide"><img src="{% static 'img/store/store2.png' %}"></div>
                </div>
            </div>
            <div class="swiper-button-prevv"></div>
            <div class="swiper-button-nextt"></div>
        </div>
    </div>
    <section id="partner" name="partner" class="scrollspy"></section>
    <div class="fixed_bg_img">
        <div class="container pd-v-xlg">
            <div class="flex-row">
                <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
                <div class="marg-l-def">
                    <div class="text-h5 text-main">加盟合作</div>
                    <span class="text-main">COOPERATION</span>
                </div>
            </div>
            <div class="flex-row pd-v-xlg" style="align-items: center;justify-content: center;">
                <img class="img-responsive" style="max-width: 600px;" src="{% static 'img/licheng.png' %}">
            </div>
        </div>
    </div>
    <section id="news" name="news" class="scrollspy"></section>
    <div class="container pd-v-xlg bg-light-gray">
        <div class="flex-row pd-b-def">
            <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
            <div class="marg-l-def">
                <div class="text-h5">新闻资讯</div>
                <span>NEWS</span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="new_list">
                {% for article in articles %}
                    <li>
                        <a href="{% url 'article' article.id %}">{{ article.title }}</a>
                        <span class="pull-right">{{ article.date_publish|date:'Y-m-d' }}</span>
                    </li>
                {% empty %}
                    <li><a href="#">暂无新闻</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
            <img class="img-responsive" src="{% static 'img/new_img.png' %}">
        </div>
    </div>
    <section id="contact" name="contact" class="scrollspy"></section>
    <div class="container pd-v-xlg">
        <div class="flex-row pd-b-def">
            <img class="wd-50px ht-50px" src="{% static 'img/icon.png' %}">
            <div class="marg-l-def">
                <div class="text-h5">联系我们</div>
                <span>CONCAT US</span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="flex-column pd-v-xlg" style="justify-content: center;align-items: center;">
                <img style="width: 150px;height: 150px;" src="{% static 'img/qrcode.png' %}">
                <p>微信公众号</p>
            </div>
            <div>
                <p>电话：23423434232</p>
                <p>地址：北京市亦庄经济开发区经海四路天道联合大厦</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
            <iframe src="{% url 'map' %}" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
{% endblock %}